<section class="main-title">

  <div class="title-bg">
    <picture>
      <source srcset="../../../assets/images/top/mv-pc.jpg" media="(min-width: 769px)">
      <img loading="lazy" src="../../../assets/images/top/mv-sp.jpg">
    </picture>
  </div>

  <div class="title">
    <div class="title-inner">

      <h1 class="title-logo">
        <img src="../../../assets/images/top/logo-gl.png" alt="" srcset="">
      </h1>

      <div class="title-lead ff-serif">
        <p class="text">
          Uma versão remasterizada do primeiro RPG de Monster Hunter,
          <br>
          agora dublado em japonês e inglês!
          <br>
        </p>
      </div>

      <div class="title-platform">
        <div class="item">
          <img src="../../../assets/images/platforms/switch_b.svg" alt="Nintendo Switch" loading="lazy">
        </div>
        <div class="item">
          <img src="../../../assets/images/platforms/ps4_b.svg" alt="PS4" loading="lazy">
        </div>
        <div class="item">
          <img src="../../../assets/images/platforms/steam_b.svg" alt="Steam" loading="lazy">
        </div>
      </div>

      <div class="title-release ff-serif">
        <span>À venda agora</span>
      </div>


    </div>
  </div>
</section>